@media screen and (max-width:768px) {
    #wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 60px auto auto auto;
        grid-template-areas:
            "header"
            "content"
            "sidebar"
            "footer";
        gap: 5px;
        background: linear-gradient(#F2916D,#494C8C);
    }

    main article li{
        padding-right: 30px;
    }

    .foto{
        margin-right: 30px;
    }

    #title-hell{
        color:#F2916D;
    }

    .mobile-dunkel li{
        color: #46272f;
    }

    .mobile-dunkel ul{
        color: #46272f;
    }

    #mobile-dunkel{
        color: #46272f;
    }

    #dunkel li{
        color: #46272f;
    }

    .mobile-hell li{
        color: #F2D6A2;
    }

    .mobile-hell ul{
        color:#F2916D;
    }


    footer {
        background-color:#494C8C;
        grid-area: footer;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    
    footer div{
        color:#F2916D;
        padding: 20px;
    }

    img {
        max-width: 100%;
    }
}